{% load static %}
<html>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<head>
    <link rel="stylesheet" href="{% static 'zebra/css/sample.css' %}">
    <script type="text/javascript" src="{% static 'zebra/js/BrowserPrint-3.0.216.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'zebra/js/BrowserPrint-Sample.js' %}"></script>
</head>
<body>

<span style="padding-right:50px; font-size:200%">Zebra Browser Print Test Page</span><br/>
<span style="font-size:75%">This page must be loaded from a web server to function properly.</span><br><br>
<div class="row">
    <div class="left-col">
        <h2>Tested/working with ZPL (virtual) printer</h2>
        Selected Device: <select id="selected_device" onchange=onDeviceSelected(this);></select> <!--  <input type="button" value="Change" onclick="changeDevice();">--> <br/><br/>
        <input type="button" value="Get Application Configuration" onclick="getConfig()"><br/><br/>
        <input type="button" value="Send Config Label" onclick="writeToSelectedPrinter('~wc')"><br/><br/>
        <input type="button" value="Send ZPL Label" onclick="writeToSelectedPrinter('^XA^FO200,200^A0N36,36^FDTest Label^FS^XZ')"><br/><br/>
        <input type="text" name="write_text" id="write_text" value="~wc"><input type="button" value="Write" onclick="writeToSelectedPrinter(document.getElementById('write_text').value)"><br/><br/>
        <input type="button" value="Send File" onclick="sendFile('{% static "zebra/wc.zpl" %}');"><br/><br/>
    </div>
    <div class="right-col">
        <h2>Not working with ZPL (virtual) printer</h2>
        (may work with physical Zebra printer)<br/><br/>
        <input type="button" value="Get Status" onclick="writeToSelectedPrinter('~hs'); readFromSelectedPrinter()"><br/><br/>
        <input type="button" value="Get Local Devices" onclick="BrowserPrint.getLocalDevices(getDeviceCallback, errorCallback);"><br/><br/>
        <input type="button" value="Read" onclick="readFromSelectedPrinter()"><br/><br/>
        <input type="button" value="Send BMP" onclick="sendImage('{% static "zebra/Zebra_logobox.bmp" %}');"><br/><br/>
        <input type="button" value="Send JPG" onclick="sendImage('{% static "zebra/ZebraGray.jpg" %}');"><br/><br/>
    </div>
</div>
</body>
</html>
