.row {
    display: flex;
}

.left-col, .right-col {
    flex: 50%;
    margin: 2em;
    padding: 1em;
}
.left-col {
    background: lightgreen;
}
.right-col {
    background: moccasin;
}

#default-device-display {
    padding: 0.25em;
}

.default-device-not-found {
    background: lightpink;
    color: red;
}

.default-device-found {
    background: palegreen;
    color: green;
}

.label-data {
    display: block;
    border: 1px solid black;
    padding: 0.5em;
    background: ghostwhite;
    max-width: 50%;
}
