{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zebra EDC Test</title>
    <link rel="stylesheet" href="{% static 'zebra/css/sample.css' %}">
    <script type="text/javascript" src="{% static 'zebra/js/BrowserPrint-3.0.216.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'zebra/js/BrowserPrint-Edc.js' %}"></script>
</head>
<body>
    <h1>EDC Zebra Test</h1>
    <div class="row">
        <div class="left-col">
            <h2>EDC test labels</h2>
            <p>
                Default device:
                <span id="default-device-display" class="default-device-not-found">No default device found</span>
            </p>
            <input type="button" value="Print requisition label" onclick="writeToSelectedPrinter('{{ requisition_label_data }}')"><br/><br/>
            <input type="button" value="Print aliquot label" onclick="writeToSelectedPrinter('{{ aliquot_label_data }}')"><br/><br/>
        </div>
        <div class="right-col">
            <h2>For troubleshooting</h2>
            <input type="button" value="Get Application Configuration" onclick="getConfig()"><br/><br/>
            <input type="button" value="Print Zebra config" onclick="writeToSelectedPrinter('{{ config_label_data }}')"><br/><br/>
            <input type="button" value="Print sample barcode" onclick="writeToSelectedPrinter('{{ generic_barcode_label_data }}')"><br/><br/>
        </div>
    </div>
</body>
</html>
